body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 5rem;
    width: 100%;
    font-size: 40px;
    color: white;
    background-color: darkseagreen;
}

button{
    margin-top: 3rem;
    width: 8rem;
    height: 3rem;
    color: white;
    font-size: 15px;
    background-color: darkseagreen;
    border: none;
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;
    box-shadow: 0 0 2em darkseagreen;
    transition: ease-in-out 500ms;
}

.container{
    position: relative;
    flex-direction: column;
    top: 8rem;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

button:hover{
    box-shadow: 0 0 3em darkseagreen;
    cursor: pointer;
    background-color: rgb(113, 143, 113);
    transition: ease-in-out 500ms;
    transform: scale(1.02);
    
}

#cachorro{
    width: 30vh;
    height: 30vh;
}

#cachorro img {
    width:  30vh;
    height: 30vh;
    box-shadow: 0 0 4em darkseagreen;
    border-radius: 5px;
    border: solid 5px darkseagreen
}

